* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  text-align: center;
  background-color: #0064fa;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

body {
  margin: 0;
}

h1 {
  color: #fff;
}
